@import "variables.less";

.footer{
  height: 3em;
  font-size: 1em;
  color: @tsuyukusa;
  line-height: 3em;
  left: 0;
  width: 100%;
  z-index: 2;
  opacity: 0.8;
  background-color: @gofun;
  margin-top: 50px;
}

.linkages{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer a{
  color: @tsuyukusa;
}
